@charset "UTF-8";

h1 {color: red; border: 5px dotted yellow; width: 100%; text-align: center; position: absolute; margin-top: 0; }

body {
    margin-top: 50px;
}

#theJukebox {
    width: 500px;
    height: 1000px;
    float: left;
}

#playASong {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
}

#songs {
    height: 100px;
    position: absolute;
    text-align: center;
    margin-top: 350px;
}

#songs input {
    width: 350px;
    height: 50px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 290px;
}

form {
    text-align: center;
}

form input {
    text-align: center;
    border-radius: 10px;
    width: 40%;
    font-size: 24px;
    padding: 10px;
    background-color: yellow;
    box-shadow: 2px 2px 2px red;
}

h2 {
    color: red;
    font-weight: bold;
}